In [1]:
abc=123400
print(abc+100)
string = "Python is "
string2 = "powerful."
print(string + string2)

123500
Python is powerful.

In [2]:
type(1234)
type(123.45)
type(5+2)
print(5+2)
print(5-2)
print(5*2)
print(5//2)
print(5%2)
print(5**2)
6/3

7
3
10
2
1
25

2.0

In [5]:
print("hello" + " " + "Python" + "!")
print("Python"*3)
print(len("python"))

6

In [6]:
list_mix1 = [1.5, 2.6, '문자열1', 'abc']
list_empty = []
print(list_mix1)
print(len(list_mix1))
print(list_empty)
print(len(list_empty))

list_str1 = ["기술이", "강한 나라 "]
list_str2 = ["우리나라 ", "대한 민국 "]
list_str3 = list_str1+list_str2
list_str4 = list_str2 *2

[1.5, 2.6, '문자열1', 'abc']
4
[]
0